.img-container img {
    width: 100%;
    height: 100%;
    margin: 0px;
}

.errorMsg {
    font-weight: bold;
    color: #7bbe31;
    white-space: pre-wrap;
    margin-bottom: 1.25rem;
}

.header-text {
    color: #FF7832;
    font-weight: 500;
    margin-top: 2rem;
    padding-left: 15px;
}

.loading {
    margin-top: -2rem;
    z-index: 100;
}

.mar10r {
    margin-left: 10px;
}

.watson-loading-gif {
    width: 50px;
    margin-bottom: 2REM;
}

.dialog-name-span {
    font-weight: bold;
}

.conversation-div {
    margin-bottom: 20px;
}

#name {
    border-top: 0px;
    border-right: 0px;
    border-left: 0px;
    padding-left: 0px;
}

#file {
    border: 0px;
}

.new-dialog-container {
    border: 1px solid #e6e7e8;
    cursor: pointer;
    padding: 1.2rem;
    margin-top: 2rem;
}

.new-dialog-container-loading {
    margin-top: 10rem;
    margin-bottom: 11.1rem;
}

.new-dialog-container:hover {
    border: 1px solid #00B2EF;
}

.dialog-flow-title:hover {
    color: #00B2EF;
}

.selected {
    border: 1px solid #00B2EF;
}

.new-dialog-input-container {
    margin: 6.75rem 0;
}

.create-btn:hover {
    color: #00B2EF;
    background-color: #fff;
    border: 1px solid #00B2EF;
}

.dialog-flow-title {
    text-align: center;
    margin: 13rem 0;
    line-height: 0px;
    font-size: 41px;
}

.exist-dialog-flow-title {
    text-align: center;
    margin: 13rem 0 11.2rem;
    line-height: 0px;
}

.new-dialog-flow-content {
    display: none;
}

.dialog-links {
    float: right;
}

.bubble-watson
{
    position: relative;
    padding: 0px;
    width: 51%;
    float: left;
    text-align: left;
    background: #b2e9f5;
    -webkit-border-radius: 10px;
    -moz-border-radius: 10px;
    border-radius: 10px;
    margin-bottom: 10px;
    padding-bottom:10px;
    padding-top:10px;
    padding-right:10px;
    padding-left:10px;
}

.bubble-watson:after
{
    content: '';
    position: absolute;
    border-style: solid;
    border-width: 5px 16px 7px 0;
    border-color: transparent #b2e9f5;
    display: block;
    width: 0;
    z-index: 1;
    left: -16px;
    top: 18px;
}
.bubble-human
{
    position: relative;
    padding: 0px;
    width: 51%;
    background: #d1eb98;
    -webkit-border-radius: 10px;
    -moz-border-radius: 10px;
    border-radius: 10px;
    margin-bottom: 10px;
    float: right;
    text-align: right;
    padding-bottom:10px;
    padding-top:10px;
    padding-right:10px;
    padding-left:10px;
}

.bubble-human:after
{
    content: '';
    position: absolute;
    border-style: solid;
    border-width: 5px 0 5px 16px;
    border-color: transparent #d1eb98;
    display: block;
    width: 0;
    z-index: 1;
    right: -16px;
    top: 18px;
}

.conversation-well {
    min-height: 200px;
}

.no-padding-right {
    padding-right: 0!important;
}

.no-padding-left {
    padding-left: 0!important;
}

#response-input {
    border: 2px solid #e6e7e8;
    height: 34px;
}

#send-btn {
    border: 2px solid #e6e7e8;
    border-left: 0px;
}

.conversation-flow-container {
    border: 1px solid #e6e7e8;
    background-color: #fff;
    margin-top: 20px;
    padding: 1rem 0;
}

.conversation-div {
    background-color: #5a5a5a;
    padding-bottom: 2rem;
    margin-bottom: 0;
}

.margin-bottom {
    margin-bottom: 3rem!important;
}

.information-container {
    margin-bottom: 20px;
    color: #e0e0e0;
}

.profile-container {
    color: #e0e0e0;
}

.information-title {
    color: #FEC217;
}

.clear-float {
    clear:both;
}
